.header,
.overview,
.info {
    display: flex;
    gap: 10px;
    padding: 25px 150px;
}

.quote,
.call-to-action,
footer {
    padding: 25px 0;
}

body,
.logo{
    margin: 0px;
}

.header,
.overview {
    background-color: #1F2937;
    color: #F9FAF8;
}

.rectangle,
.items,
body {
    display: flex;
}

.reduce{
    align-self: center;
}

body,
.info {
    flex-direction: column;
}

.quote{
    background-color: #E5E7EB;
    padding: 50px;
}

.quote-1,
.quote-1-author{
    width: 600px;
    font-weight: 100;
    font-size: 36px;
    color: #1F2937;
    margin: 5px auto;
}

.quote-1-author{
    font-weight: bold;
}

.overview{
    justify-content: center;
}

.image{
    display: block;
    align-self: center;
}

.text {
    width: 350px;
}

.text,
image {
    flex: 0 0 auto;
}

.hero-secondary, 
header {
    font-size: 18px;
    color: #E5E7EB;
}

#link-one{
    margin-left: auto;
}

.info{
    text-align: center;
}

.items{
    gap: 15px;
    justify-content: center;
}

.box,
.rectangle {
    border-radius: 15px;
}

button {
    border-radius: 5px;
}

.box{
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
}

.subtext{
    width: 100px;
}

.call-to-action,
.subtext {
    margin-left: auto;
    margin-right: auto;
}

button,
.rectangle {
    background-color: #3882F6;
}

.rectangle{
    height: 75px;
    width: 500px;
    border: 2px solid white;
    color: white;
    justify-content: space-around;
}

#bold{
    font-size: medium;
    font-weight: bold;
    margin-bottom: 4px;
}

#low-margin{
    margin-top: 4px;
}

.footer{
    text-align: center;
    color: white;
    background-color: #1F2937;
}

.hero{
    font-weight: 900;
    font-size: 48px;
}